* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color-primary: #0177bb;
    --color-secondary: #252C46;
    --color-tertiary: #EDEDED;
    --get-ticket-color: #fbe32d;
    --color-gray: #767676;
    --color-learnmore-btn: #37446B;
    --color-footer-border: #e5e5e5;
    --color-footer-bg: #f4f4f4
}

/*imp! COMMON CSS */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
}

p,
a {
    font-family: 'Roboto';
}

.common__div {
    background-color: #fff;
}

/*imp! HEADER */


header {
    height: 5rem;
    width: 100%;
    background-color: white;
    box-shadow: 0rem 0.25rem 0.938rem #00000010;
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.header-top {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    padding: 0.5rem 8%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary);
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.1rem;
    gap: 2rem;

}

.opening-hours-div {
    max-width: 62%;
    mask: linear-gradient(90deg, transparent, #fff 15%, #fff 85%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, #fff 15%, #fff 85%, transparent);

}

.opening-hours-div-inner {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    gap: 3rem;
    user-select: none;
    animation: scroll 20s linear infinite;

}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 1.5rem));
    }
}

.opening-hours {
    flex-shrink: 0;
    display: flex;
    align-items: center;


    p {
        width: 100%;
        font-size: 1rem;
    }
}

.header-login-main {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 38%;
    gap: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.header-login-main a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

.header-member {
    display: flex;
    gap: 1rem;
}

.header-member:hover>span {
    color: var(--get-ticket-color);
}

.header-member:hover>i {
    color: var(--get-ticket-color);
}

.header-view-cart {
    display: flex;
    gap: 1rem;
}

.header-view-cart:hover>span {
    color: var(--get-ticket-color);
}

.header-view-cart:hover>i {
    color: var(--get-ticket-color);
}

.desktop-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0%;
}

.logo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.5rem;
    padding: 1.5rem 8%;
    background-image: linear-gradient(45deg, #074191, #006473, #0290e2, #006473, #074191);
    background-size: 200% auto;
    animation: topAnimation 4s linear infinite;
}

@keyframes topAnimation {
    to {
        background-position: 200%;
    }
}

.logo {
    width: 15.5rem;
}

.logo img {
    width: 100%;
}

.logo-div-right {
    display: flex;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.15rem;
    gap: 1rem;
}

.get-ticket-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--get-ticket-color);
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #000000;
        color: #fff;
    }
}

.get-ticket-div i {
    rotate: -45deg;
    font-size: 1.5rem;

}

.join-today-div {

    background-color: #fff;
    padding: 0.7rem 2.2rem;
    color: #000000;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #000000;
        color: #fff;
    }
}

.nav-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0rem 0.50rem 0.950rem #00000010;
    padding: 0rem 8%;

}

.nav-links {
    display: flex;
    list-style: none;
    z-index: 80;
    gap: 2rem;
    height: 3rem;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.25rem;
    font-family: 'Roboto';
    font-weight: 500;
    color: #000;
}

.nav-links li {
    display: flex;
    transition: all 0.5s ease-in-out;
    align-items: center;
}

.nav-links li:hover {
    text-decoration: underline;
}


.c-open-menu,
.c-close-menu {
    position: absolute;
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.c-open-menu {
    color: #fff;
    top: 75%;
    right: 8%;
    transform: translateY(-50);
}

.c-close-menu {
    top: 2rem;
    right: 2rem;
}

.nav-icons i {
    padding-left: 1.7rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.search-box {
    display: flex;
    height: 2rem;
    width: 9rem;
    cursor: pointer;
    background-color: #ffffffbb;
    align-items: center;
    transition: all 0.2s ease-in;
    padding-left: 0.5rem;
    border-radius: 0.3rem;
    border: 2px solid rgb(192, 192, 192);


}

.search-box:hover {
    background-color: var(--color-primary);
    color: #fff;
    width: 13.5rem;
}

.search-box:hover input {
    width: 15em;
    color: #fff;
}

.search-box:hover input::placeholder {
    color: #fff;
}

.search-box:hover .fa-solid {
    color: #fff;
}

.search-box a i {
    padding-left: 0;
    color: #000000;
}

.search-box input {
    width: 0;
    outline: none;
    border: transparent;
    transition: all 0.2s ease-in;
    background: transparent;
    font-family: 'Roboto';
    font-size: 1rem;
}

.checkbox {
    display: none;
}

@media (width <850px) {

    .nav-links a {
        font-family: 'Roboto';
        font-weight: 500;
        color: #fff;

    }



    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100dvh;
        position: fixed;
        top: 0%;
        right: -100%;
        z-index: 100;
        background-color: var(--color-secondary);
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--color-tertiary);

    }

    .nav-links li .nav-item {
        padding: 1rem 2rem;
        color: #000000;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }


    .c-open-menu,
    .c-close-menu {
        display: flex;
    }

    .c-close-menu i {
        color: #fff;
    }

    #check:checked~.nav-div .nav-links {
        right: 0%;
    }

}

.nav-icons {
    display: flex;
    align-items: center;
    height: 3rem;
}

@media (width<850px) {

    .header-top {
        font-size: 1rem;
    }

    .header-login-main {
        gap: 2.1rem;
    }

    .header-member span {
        display: none;
    }

    .header-view-cart span {
        display: none;
    }

    .logo-div {
        height: 4.5rem;
    }

    .logo {
        width: 9rem;
    }

    .logo-div-right {
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: center;
        background-color: var(--color-header-top);
        width: 100%;
    }

    .logo-div-right {
        justify-content: center;
    }
}

@media (width<450px) {
    .logo-div-right {
        font-size: 1rem;
        flex: 1 1 100%;
        gap: 0;
    }

    .get-ticket-div {
        flex: 1 1 50%;
        justify-content: center;
    }

    .join-today-div {
        flex: 1 1 50%;
        background-color: var(--color-header-top);
        color: #fff;
    }

}

/*imp! SECTION-1 */

.breadcrumb {
    padding: 0.5rem 8% 2rem;
}

.breadcrumb i {
    padding-top: 13.5rem;
}

.breadcrumb a {
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2rem;
    text-decoration: none;
    color: #000000;
}

.breadcrumb a:hover {
    color: var(--color-primary);
}

@media (width<850px) {
    .breadcrumb i {
        padding-top: 11rem;
    }

    .breadcrumb a {
        font-size: 1.1rem;
    }
}

.progress-bar {
    display: flex;
    width: 100%;
    padding: 0 8% 5rem;

    .progress-bar-black-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        width: 100%;

        .progress-bar-text {
            display: flex;
            color: #000;
            font-family: 'Roboto';
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 500;
            padding-bottom: 1rem;
        }

        .progress-bar-dobbel-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 auto;
            width: 100%;

            .progress-bar-black {
                display: flex;
                justify-content: end;
                align-items: center;
                border-bottom: 3px solid #000000;
                flex: 1 1 auto;
                width: 100%;
                position: relative;

                .c-dot-black {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    background-color: #000000;
                    right: -8px;
                }
            }

            .progress-bar-filler {
                display: flex;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 2px solid #aaa9a9;
                width: 100%;
                flex: 1 1 auto;
            }
        }
    }

    .progress-bar-grey-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        width: 100%;

        .progress-bar-text {
            display: flex;
            color: #aaa9a9;
            font-family: 'Roboto';
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 500;
            padding-bottom: 1rem;
        }

        .progress-bar-grey {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #aaa9a9;
            width: 100%;
            position: relative;

            .c-dot-grey {
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: #aaa9a9;
            }
        }
    }
}


/*imp! SECTION-2 */


.section-2-entry {
    padding: 0 8% 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .go-to-payment {
        text-decoration: none;
        font-family: 'Roboto';
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.8rem 3rem;
        border-radius: 0.3rem;
        background-color: #000000;
        color: #fff;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: var(--color-gray);
        }
    }
}

.section-2-entry-main-coponent {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    height: auto;
    justify-content: space-between;
    gap: 8rem;
    padding-bottom: 4rem;

    .section-2-entry-left {
        display: flex;
        flex-direction: column;
        flex: 1 1 40%;
        background-color: var(--color-tertiary);
        padding: 3rem;
        gap: 2rem;

        h1 {
            font-family: 'Roboto';
            font-size: 1.6rem;
            font-weight: 500;
            padding-bottom: 2rem;
        }

        .ticket-age-list {
            display: flex;
            justify-content: space-between;

            .ticket-age {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                p {
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }

            .ticket-age p:nth-child(1) {
                font-weight: 500;
            }

            .ticket-count {
                display: flex;
                gap: 1rem;
                align-items: center;

                i {
                    font-size: 1.2rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        scale: 105%;
                    }
                }

                .fa-minus {
                    background-color: var(--color-gray);
                    color: #fff;
                }

                .fa-plus {
                    background-color: #000000;
                    color: #fff;
                }

                span {
                    font-family: 'Roboto';
                    font-size: 1.5rem;
                }
            }
        }

    }

    .calendar {
        display: flex;
        flex-direction: column;
        flex: 1 1 60%;
        background-color: var(--color-tertiary);

        .calendar-header {
            padding: 1.5rem 3rem;
            gap: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-header-top);
            color: #fff;

            span {
                font-family: 'Roboto';
                font-size: 1.4rem;
                cursor: pointer;
            }

            i {
                font-size: 1.2rem;
                cursor: pointer;
            }

        }

        .calendar-body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;


            .calendar-week-day {
                display: flex;
                justify-content: space-around;
                gap: 1rem;

                .week {
                    font-family: 'Roboto';
                    font-size: 1.2rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 5rem;
                    /* width: 5rem; */
                }
            }
        }

        .calendar-days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(5, 1fr);
            justify-content: center;
            gap: 0.5rem;

            .number,
            .number-pre,
            .active-date {
                font-family: 'Roboto';
                font-size: 1.2rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 4.5rem;
                /* width: 4.5rem; */
                border-radius: 0.4rem;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
            }

            .number-pre {
                border: none;
                color: var(--color-gray);
                transition: all 0.2s ease-in-out;
            }

            .active-date {
                background-color: var(--color-primary);
                color: #fff;
            }

            .number-pre:hover,
            .number:hover {
                border: 2px solid var(--color-gray);
            }
        }
    }
}


@media (width<1260px) {
    .section-2-entry-main-coponent {
        gap: 3rem;

        .section-2-entry-left {
            padding: 2rem;

            h1 {
                font-size: 1.5rem;
            }

            .ticket-age p {
                font-size: 1.2rem;
            }

            .ticket-age-list {

                .ticket-age {

                    p {
                        font-size: 1.2rem;
                    }
                }
            }

            .ticket-count {

                i {
                    font-size: 1.2rem;
                    height: 2rem;
                }

                span {
                    font-size: 1.2rem;
                }
            }

            .calendar {

                .calendar-header {
                    gap: 5rem;

                    span {
                        font-size: 1.3rem;
                    }

                    i {
                        font-size: 1.3rem;
                    }

                }
            }
        }


    }
}

@media (width<1100px) {
    .section-2-entry-main-coponent {
        flex-direction: column;

        .calendar {

            .calendar-header {
                gap: 7rem;
            }

            .calendar-body {

                .calendar-week-day {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    justify-content: center;
                    gap: 0.2rem;

                    .week {
                        height: 2.7rem;

                    }
                }
            }
        }
    }
}

@media (width<600px) {

    .progress-bar {
        padding-bottom: 3rem;

        .progress-bar-black-container,
        .progress-bar-grey-container {

            .progress-bar-text {
                font-size: 0.95rem;
            }

        }
    }

    .section-2-entry-main-coponent {
        gap: 3rem;
        padding-bottom: 2rem;

        .section-2-entry-left {
            padding: 1rem;

            h1 {
                font-size: 1.4rem;
                padding-bottom: 0;
            }

            .ticket-age-list {

                .ticket-age {

                    p {
                        font-size: 1.1rem;
                    }
                }

                .ticket-count {

                    i {
                        font-size: 1.2rem;
                        width: 2rem;
                        height: 2rem;

                    }

                    span {
                        font-size: 1.1rem;
                    }
                }
            }

        }

        .calendar {

            .calendar-header {
                gap: 1rem;
                padding: 1.5rem 1rem;

                span {
                    font-size: 1.1rem;
                }

                i {
                    font-size: 1.1rem;
                }

            }

            .calendar-body {
                gap: 1rem;
                padding: 1rem;


                .calendar-week-day {

                    .week {
                        font-size: 1rem;
                        height: 2rem;
                        text-align: center;
                        width: 1.8rem;

                    }
                }
            }

            .calendar-days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: repeat(5, 1fr);
                justify-content: center;
                gap: 0.2rem;

                .number,
                .number-pre,
                .active-date {
                    font-size: 1rem;
                    text-align: center;
                    height: 2.7rem;
                    width: 1.8rem;
                }

                .number-pre:hover,
                .number:hover {
                    border: 1px solid var(--color-gray);
                }
            }

        }

    }

    .section-2-entry .go-to-payment {
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
    }

}



/*imp! FOOTER */


.footer-main-container {
    height: 5rem;
    width: 100%;
    background-color: #616881;
}

.footer-row-1 {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    padding-top: 1.3rem;


}

.footer-row-1-left {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 40%;

    h3 {
        font-family: 'Roboto';
        font-size: 1.5rem;
        color: #fff;
        font-weight: 400;
    }
}

.footer-row-1-right {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 60%;


    input {
        background-color: white;
        width: 100%;
        height: 2.3rem;
        border-radius: 0.2rem;
        border: transparent;
        padding-left: 1rem;
        font-size: 1.1rem;
    }
}

.footer-row-1-right input::placeholder {
    color: var(--color-gray);
    padding-left: 1rem;
    font-size: 1rem;
}

.footer-row-1-right input:focus {
    outline-width: 0;
}

.footer-row-2-main-container {
    height: auto;
    display: flex;
    gap: 3rem;
}

.footer-row-2-left {
    padding-left: 8%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    p {
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-gray);
    }
}

.footer-logo-div {
    width: 13rem;
    height: auto;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.footer-row-2-right {
    width: 100%;
    background-color: var(--color-footer-bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1.5fr 0.8fr;
}

.footer__row__2__right_common {
    display: flex;
    flex-direction: column;
}

.footer-row-2-right-list-5 {
    grid-column: span 2;
}

.footer-row-2-right-list-1 {
    display: grid;
    padding: 4rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    p {
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-gray);
    }

    span {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

}

.footer__row__2__right_common a:hover {
    color: var(--color-primary);
}

.footer-row-2-right-list-1 .footer-tel {
    padding-top: 1rem;
}

.footer-row-2-right-list-2 {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1.2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    a {
        text-decoration: none;
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        color: #000000;
    }
}

.footer-row-2-right-list-3 {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1.2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    a {
        text-decoration: none;
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 00;
        color: #000000;
    }

}

.footer-row-2-right-list-4 {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 0.7rem;


    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    i {
        font-size: 1.5rem;
        transition: all 0.2s ease-in-out;
    }

    .fa-square-facebook:hover {
        scale: 110%;
        color: #1877F2;
    }

    .fa-instagram:hover {
        scale: 110%;
        color: #e4107a;
    }

    .fa-pinterest:hover {
        scale: 110%;
        color: #BD081C;
    }

    .fa-x-twitter:hover {
        scale: 110%;
        color: #000000;
    }

    .fa-youtube:hover {
        scale: 110%;
        color: #E62117;
    }



    .footer-social-media-icons {
        display: flex;
        gap: 0.7rem;
    }
}

.footer-row-2-right-list-5 {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1.2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    input {
        background-color: white;
        width: 80%;
        height: 2.7rem;
        border-radius: 0.2rem;
        border: transparent;
        padding-left: 1rem;
        font-size: 1.1rem;
    }
}

.footer-row-2-right-list-5 input::placeholder {
    color: var(--color-gray);
    padding-left: 1rem;
    font-size: 1rem;

}

.footer-row-2-right-list-5 input:focus {
    outline-width: 0;
}

.footer-row-2-right-list-5 button {
    width: 10rem;
    height: 2.7rem;
    border-radius: 0.3rem;
    background-color: var(--color-footer-bg);
    border: 1.5px solid #000000;
    transition: all 0.2s ease-in-out;
}

.footer-row-2-right-list-5 button a {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

.footer-row-2-right-list-5 button:hover {
    background-color: #000000;
}

.footer-row-2-right-list-5 button:hover a {
    color: #fff;
}

.footer-row-3 {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 0 8%;
    background-color: var(--color-secondary);
    justify-content: space-between;
}

.footer-left-div p {
    color: #fff;
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-right-div {
    display: flex;
    gap: 2rem;

    p {
        color: #fff;
        font-family: 'Roboto';
        font-size: 0.9rem;
        font-weight: 400;
    }
}


@media (width<1160px) {
    .footer-row-2-main-container {
        flex-direction: column;
    }

    .footer__right__common {
        padding: 2.5rem 0 2rem 14%;
    }

    .footer-row-1 {
        gap: 0.5rem;
    }

    .footer-row-1-left h3 {
        font-size: 1.3rem;
    }
}

@media (width <850px) {
    .footer-main-container {
        height: auto;
    }

    .footer-logo-div {
        width: 11rem;
    }

    .footer-row-1 {
        flex-direction: column;
        gap: 0.3rem;
        align-items: normal;
        padding-top: 0.4rem;
        padding-bottom: 1rem;
    }

    .footer-row-2-left {
        padding-top: 2rem;
    }

    .footer-row-1-left h3 {
        font-size: 1.1rem;
    }

    .footer-row-1-right input {
        padding-left: 0;
    }

    .footer-row-1-right input::placeholder {
        font-size: 1rem;
    }

    .footer-row-2-right {
        display: flex;
        flex-direction: column;
    }

    .footer__right__common {
        padding: 2.5rem 8% 2rem 8%;
    }

    #map {
        padding-right: 8%;
    }

    #map iframe {
        width: 100%;
    }

    .footer-row-2-right-list-5 input {
        width: 100%;
    }

    .footer-row-3 {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 1rem;
        height: auto;
    }

    .footer-left-div {
        order: 2;
    }

    .footer-right-div {
        order: 1;
    }
}