* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color-primary: #0177bb;
    --color-secondary: #231F20;
    --color-header-top: #252C46;
    --color-tertiary: #EDEDED;
    --get-ticket-color: #fbe32d;
    --color-gray: #767676;
    --color-learnmore-btn: #37446B;
    --color-footer-border: #e5e5e5;
    --color-footer-bg: #f4f4f4
}

/*imp! COMMON CSS */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
}

p,
a {
    font-family: 'Roboto';
}


/* @media(prefers-reduced-motion: no-preference) {

    .fade__in {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    @keyframes fade-in {
        from {
            scale: 0.6;
            opacity: 0;
        }

        to {
            scale: 1;
            opacity: 1;
        }
    }

} */

/*imp! HEADER */


header {
    height: 5rem;
    width: 100%;
    background-color: white;
    box-shadow: 0rem 0.25rem 0.938rem #00000010;
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.header-top {
    display: flex;
    width: 100%;
    padding: 0.5rem 8%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header-top);
    /* background-image: linear-gradient(45deg, #074191, #006473, #0082cd, #006473, #074191);
    background-size: 200% auto;
    animation: topAnimation 4s linear infinite; */
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.1rem;
}

/* @keyframes topAnimation {
    to {
        background-position: 200%;
    }
} */

.header-login-main {
    display: flex;
    gap: 1.5rem;
}

.header-login-main a {
    text-decoration: none;
    color: #fff;
}

.header-member {
    display: flex;
    gap: 1rem;
}

.header-view-cart {
    display: flex;
    gap: 1rem;
}


.desktop-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0%;
}

.logo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.5rem;
    padding: 1.5rem 8%;
    /* background-color: var(--color-primary); */
    /* background-image: url(/images/header-foreground-image.svg); */
    /* background-size: cover; */
    /* background-repeat: round; */
    background-image: linear-gradient(45deg, #074191, #006473, #0290e2, #006473, #074191);
    background-size: 200% auto;
    animation: topAnimation 4s linear infinite;
}

@keyframes topAnimation {
    to {
        background-position: 200%;
    }
}

.logo {
    width: 15.5rem;
}

.logo img {
    width: 100%;
}

.logo-div-right {
    display: flex;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.15rem;
    gap: 1rem;
}

.get-ticket-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--get-ticket-color);
    padding: 0.7rem 1.2rem;
    color: #000000;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #000000;
        color: #fff;
    }
}

.get-ticket-div i {
    rotate: -45deg;
    font-size: 1.5rem;

}

.join-today-div {

    background-color: #fff;
    padding: 0.7rem 2.2rem;
    color: #000000;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #000000;
        color: #fff;
    }
}

.nav-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0rem 0.50rem 0.950rem #00000010;
    padding: 0rem 8%;

}

.nav-links {
    display: flex;
    list-style: none;
    z-index: 80;
    gap: 2rem;
    height: 3rem;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.25rem;
    font-family: 'Roboto';
    font-weight: 500;
    color: #000;
    /* padding: 0.9rem 3rem; */
}

.nav-links li:nth-child(1) {
    text-decoration: underline;
}

.nav-links li {
    display: flex;
    transition: all 0.5s ease-in-out;
    align-items: center;
}

.nav-links li:hover {
    text-decoration: underline;
}


.c-open-menu,
.c-close-menu {
    position: absolute;
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.c-open-menu {
    color: #fff;
    top: 75%;
    right: 8%;
    transform: translateY(-50);
}

.c-close-menu {
    top: 2rem;
    right: 2rem;
}

.nav-icons i {
    padding-left: 1.7rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.search-box {
    display: flex;
    height: 2rem;
    width: 16.3rem;
    cursor: pointer;
    background-color: #ffffffbb;
    align-items: center;
    transition: all 0.2s ease-in;
    padding-left: 0.5rem;
    border-radius: 0.3rem;
    border: 2px solid rgb(192, 192, 192);
    padding-left: 1rem;

}

.search-box:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.search-box:hover input {
    width: 15em;
    color: #fff;
}

.search-box:hover input::placeholder {
    color: #fff;
}

.search-box:hover .fa-solid {
    color: #fff;
}

.search-box a i {
    padding-left: 0;
    color: #000000;
}

.search-box input {
    width: 0;
    outline: none;
    border: transparent;
    transition: all 0.2s ease-in;
    background: transparent;
    font-family: 'Roboto';
    font-size: 1rem;
}

.checkbox {
    display: none;
}

@media (width <850px) {

    .nav-links a {
        font-family: 'Roboto';
        font-weight: 500;
        color: #fff;

    }



    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100dvh;
        /* padding-bottom: 15rem; */
        position: fixed;
        top: 0%;
        right: -100%;
        z-index: 100;
        background-color: var(--color-header-top);
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--color-tertiary);

    }

    .nav-links li .nav-item {
        padding: 1rem 2rem;
        color: #000000;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }


    .c-open-menu,
    .c-close-menu {
        display: flex;
    }

    .c-close-menu i {
        color: #fff;
    }

    #check:checked~.nav-div .nav-links {
        right: 0%;
    }

}

.nav-icons {
    display: flex;
    align-items: center;
    height: 3rem;
}

@media (width<850px) {

    .header-top {
        font-size: 1rem;
    }

    .header-login-main {
        gap: 2.1rem;
    }

    .header-member span {
        display: none;
    }

    .header-view-cart span {
        display: none;
    }

    .logo-div {
        height: 4.5rem;
    }

    .logo {
        width: 9rem;
    }

    .logo-div-right {
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: center;
        background-color: var(--color-header-top);
        width: 100%;
    }

    .logo-div-right {
        justify-content: center;
    }
}

@media (width<450px) {
    .logo-div-right {
        font-size: 1rem;
        flex: 1 1 100%;
        gap: 0;
    }

    .get-ticket-div {
        flex: 1 1 50%;
        justify-content: center;
    }

    .join-today-div {
        flex: 1 1 50%;
        background-color: var(--color-header-top);
        color: #fff;
    }

}


/*imp! SECTION-1 */

.section-1-exhibitions {
    padding: 13.5rem 8% 5rem;
}

.breadcrumb a {
    text-decoration: none;
    color: #000000;
}

.breadcrumb a {
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-size: 400;
    padding-top: 2rem;
    color: #000000;
}

.breadcrumb a:hover {
    color: var(--color-primary);
}

.section-1-exhibitions-component {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 3rem;
    padding-top: 4rem;
}

.section-1-exhibitions-img img {
    width: 100%;
}

.section-1-exhibitions h1 {
    font-family: 'Judson', Times, serif;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.1rem + 2vw, 3.5rem);
    color: #000000;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.section-1-exhibitions-category {
    display: flex;
    gap: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #000000;

    h4 {
        font-family: 'Roboto';
        font-size: 1.8rem;
        font-weight: 500;
        color: #000000;
    }
}

.upcoming {
    position: relative;
    width: fit-content;
}

.upcoming::after {
    content: "";
    width: 100%;
    height: 0.25rem;
    background-color: var(--color-primary);
    position: absolute;
    bottom: -2px;
    left: 0;
}

.section-1-exhibitions-list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    height: auto;
    background-color: var(--color-secondary);
    padding: 2rem;

    h3 {
        font-family: 'Roboto';
        font-size: 1.7rem;
        font-weight: 500;
        color: #fff;
    }
}

.section-1-exhibitions-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-1-exhibitions-heading-left {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.section-1-p-1 {
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
    color: #cfcfcf;
    padding-bottom: 1.5rem;
}

.section-1-p-2 {
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
    color: #fff;
    /* padding-bottom: 1.5rem; */
}

.section-1-span-1 {
    text-transform: uppercase;
    color: #cfcfcf;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 400;

}

.section-1-span-2 {
    color: #cfcfcf;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-size: 400;
    color: var(--get-ticket-color);
}

.read-more-exhibition {
    color: var(--get-ticket-color);
    display: inline-block;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.buy-ticket {
    width: fit-content;
    border: transparent;
}

.buy-ticket a {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--get-ticket-color);
    color: #000000;
    padding: 0.7rem 1.3rem;
    transition: all 0.2s ease-in-out;

}

.buy-ticket a:hover {
    background-color: #fff;
    color: #000000;

}

.read-more-common p {
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
    color: #fff;
    padding-bottom: 1.5rem;
}

#get-exhibitions-read-more-1 {
    display: none;
}

#get-exhibitions-read-more-1:checked~.read-more-text-1 {
    display: block;
}

#get-exhibitions-read-more-1:checked~label {
    display: none;
}

#get-exhibitions-read-more-2 {
    display: none;
}

#get-exhibitions-read-more-2:checked~.read-more-text-2 {
    display: block;
}

#get-exhibitions-read-more-2:checked~label {
    display: none;
}

#get-exhibitions-read-more-3 {
    display: none;
}

#get-exhibitions-read-more-3:checked~.read-more-text-3 {
    display: block;
}

#get-exhibitions-read-more-3:checked~label {
    display: none;
}

#get-exhibitions-read-more-4 {
    display: none;
}

#get-exhibitions-read-more-4:checked~.read-more-text-4 {
    display: block;
}

#get-exhibitions-read-more-4:checked~label {
    display: none;
}

#get-exhibitions-read-more-5 {
    display: none;
}

#get-exhibitions-read-more-5:checked~.read-more-text-5 {
    display: block;
}

#get-exhibitions-read-more-5:checked~label {
    display: none;
}

#get-exhibitions-read-more-6 {
    display: none;
}

#get-exhibitions-read-more-6:checked~.read-more-text-6 {
    display: block;
}

#get-exhibitions-read-more-6:checked~label {
    display: none;
}

.read-more-common {
    display: none;
}

.get-exhibitions-lable-common {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: var(--color-primary);
    padding: 0.3rem 0.5rem;
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 1.5rem;
}

.get-exhibitions-lable-common:hover {
    background-color: #fff;
    color: #000000;
}

@media (width<850px) {
    .section-1-exhibitions {
        padding-top: 11.5rem
    }

    .breadcrumb a {
        font-size: 1.1rem;
    }

    .section-1-exhibitions-category h4 {
        font-size: 1.5rem;
    }


    .section-1-exhibitions-list-content h3 {
        font-size: 1.5rem;
    }
}

@media (width<600px) {
    .section-1-exhibitions h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .section-1-exhibitions-category {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .section-1-exhibitions-category h4 {
        font-size: 1.2rem;
    }

    .section-1-exhibitions-component {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1rem;
        padding-top: 2rem;
    }

    .section-1-exhibitions-list-content h3 {
        font-size: 1.2rem;
    }

    .get-exhibitions-lable-common {
        margin-bottom: 1rem;
    }

    .section-1-span-1,
    .section-1-span-2,
    .section-1-p-2,
    .read-more-common p,
    .get-exhibitions-lable-common {
        font-size: 1rem;
    }

    .section-1-p-1 {
        font-size: 0.9rem;
    }

    button {
        display: flex;
        justify-content: center;
    }

    button a {
        font-size: 1.1rem;
        padding: 0.6rem 1.2rem;
    }

    .section-1-exhibitions {
        padding-bottom: 0;
    }
}

/*imp! SECTION-2 */


.section-2-exhibitions {
    padding: 3rem 8% 1rem;
}

.section-2-exhibitions h2 {
    font-family: 'Judson', Times, serif;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.1rem + 2vw, 3.5rem);
    color: #000000;
    padding-bottom: 0.2rem;
    width: fit-content;
    position: relative;
}

.section-2-exhibitions h2::after {
    content: "";
    width: 100%;
    height: 0.25rem;
    background-color: var(--color-primary);
    position: absolute;
    bottom: -2px;
    left: 0;
}

.exhibition-spaces-component {
    padding-bottom: 5rem;
}

.exhibition-spaces-list {
    display: flex;
    flex: 1 1 100%;
    gap: 6%;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.b-b-exhibition-list {
    padding-bottom: 5rem;
    padding-top: 5rem;
    border-bottom: 1px solid #a5a5a5;
}

.exhibition-spaces-img {
    display: flex;
    flex: 1 1 50%;
    width: 100%;

}


.exhibition-spaces-list-text {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    gap: 1.5rem;

    h3 {
        font-family: 'Roboto';
        font-size: 2rem;
        font-weight: 500;
        color: #000000;
    }

    p {
        font-family: 'Roboto';
        font-size: 1.2rem;
        font-weight: 400;
        text-align: justify;
        color: #000000;
        line-height: 1.5rem;
    }
}

.exhibition-spaces-list-2 div:nth-child(1) {
    order: 2;
}

.exhibition-spaces-list-last {
    padding-top: 5rem;
}

@media (width<850px) {
    .exhibition-spaces-list {
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .exhibition-spaces-list-2 div:nth-child(2) {
        order: 2;
    }

    .exhibition-spaces-list-text h3 {
        font-size: 1.5rem;
    }

    .exhibition-spaces-list-text p {
        font-size: 1.1rem;
    }

    .exhibition-spaces-component {
        padding-bottom: 3rem;
    }
}

@media (width<600px) {
    .exhibition-spaces-list {
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .exhibition-spaces-list-2 div:nth-child(2) {
        order: 2;
    }

    .exhibition-spaces-list-text h3 {
        font-size: 1.2rem;
    }

    .exhibition-spaces-list-text p {
        font-size: 1rem;
    }

    .exhibition-spaces-component {
        padding-bottom: 0rem;
    }
}

/*imp! SECTION-3 */

.get-involved {
    padding: 1rem 8% 4rem;
    background-color: var(--color-tertiary);
}

.get-involved-text {
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;

    h2 {
        font-family: 'Judson', Times, serif;
        font-size: 1.4rem;
        font-size: clamp(1.4rem, 1.1199999999999999rem + 1.4vw, 2.8rem);
        font-weight: 600;
        color: #000000;
        text-decoration: underline;
    }
}

.get-involved-component {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.get-involved-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: auto;
}

.get-involved-list-img {
    width: 100%;
    height: auto;

    img {
        width: 100%;
    }
}

.get-involved-list-content {
    padding: 1rem 2rem;
    width: 100%;
    height: auto;

    span {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 400;
        text-align: justify;
        color: var(--color-gray);
    }

    h3 {
        font-family: 'Roboto';
        font-size: 1.2rem;
        font-size: clamp(1.2rem, 1.0799999999999998rem + 0.6000000000000001vw, 1.8rem);
        color: #000000;
        font-weight: 500;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        line-height: 1.5rem;
    }

    p {
        font-family: 'Roboto';
        font-size: 1.2rem;
        font-weight: 400;
        text-align: justify;
        color: var(--color-gray);
    }
}

#get-involved-read-more-1 {
    display: none;
}

#get-involved-read-more-1:checked~.read-more-text-1 {
    display: block;
}

#get-involved-read-more-1:checked~label {
    display: none;
}

#get-involved-read-more-2 {
    display: none;
}

#get-involved-read-more-2:checked~.read-more-text-2 {
    display: block;
}

#get-involved-read-more-2:checked~label {
    display: none;
}

#get-involved-read-more-3 {
    display: none;
}

#get-involved-read-more-3:checked~.read-more-text-3 {
    display: block;
}

#get-involved-read-more-3:checked~label {
    display: none;
}

.read-more-common {
    display: none;
    padding-top: 1rem;
}


.get-involved-lable-common {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: var(--color-primary);
    padding: 0.5rem 1rem;
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    transition: all 0.2s ease-in-out;

}

.get-involved-lable-common:hover {
    background-color: #000000;
    color: #fff;
}

@media (width<1080px) {
    .get-involved-component {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (width<850px) {
    .get-involved-component {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (width<600px) {
    .get-involved {
        padding: 0 8% 3rem;
    }

    .get-involved-text {
        padding-bottom: 2rem;
    }

    .get-involved-component {
        gap: 1rem;
    }

    .get-involved-list-content p {
        font-size: 1rem;
    }
}

/*imp! FOOTER */


.footer-main-container {
    height: 5rem;
    width: 100%;
    background-color: #333333;
}

.footer-row-1 {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    padding-top: 1.3rem;


}

.footer-row-1-left {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 40%;

    h3 {
        font-family: 'Roboto';
        font-size: 1.5rem;
        color: #fff;
        font-weight: 400;
    }
}

.footer-row-1-right {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 60%;


    input {
        background-color: white;
        width: 100%;
        height: 2.3rem;
        border-radius: 0.2rem;
        border: transparent;
        padding-left: 1rem;
        font-size: 1.1rem;
    }
}

.footer-row-1-right input::placeholder {
    color: var(--color-gray);
    padding-left: 1rem;
    font-size: 1rem;
}

.footer-row-1-right input:focus {
    outline-width: 0;
}

.footer-row-2-main-container {
    height: auto;
    display: flex;
    gap: 3rem;
}

.footer-row-2-left {
    padding-left: 8%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    p {
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-gray);
    }
}

.footer-logo-div {
    width: 13rem;
    height: auto;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.footer-row-2-right {
    width: 100%;
    background-color: var(--color-footer-bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1.5fr 0.8fr;
}

.footer__row__2__right_common {
    display: flex;
    flex-direction: column;
}

.footer-row-2-right-list-5 {
    grid-column: span 2;
}

.footer-row-2-right-list-1 {
    display: grid;
    padding: 4rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    p {
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-gray);
    }

    span {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

}

.footer__row__2__right_common a:hover {
    color: var(--color-primary);
}

.footer-row-2-right-list-1 .footer-tel {
    padding-top: 1rem;
}

.footer-row-2-right-list-2 {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1.2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    a {
        text-decoration: none;
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        color: #000000;
    }
}

.footer-row-2-right-list-3 {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1.2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    a {
        text-decoration: none;
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 00;
        color: #000000;
    }

}

.footer-row-2-right-list-4 {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 0.7rem;


    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    i {
        font-size: 1.5rem;
        transition: all 0.2s ease-in-out;
    }

    .fa-square-facebook:hover {
        scale: 110%;
        color: #1877F2;
    }

    .fa-instagram:hover {
        scale: 110%;
        color: #e4107a;
    }

    .fa-pinterest:hover {
        scale: 110%;
        color: #BD081C;
    }

    .fa-x-twitter:hover {
        scale: 110%;
        color: #000000;
    }

    .fa-youtube:hover {
        scale: 110%;
        color: #E62117;
    }



    .footer-social-media-icons {
        display: flex;
        gap: 0.7rem;
    }
}

.footer-row-2-right-list-5 {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1.2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    input {
        background-color: white;
        width: 80%;
        height: 2.7rem;
        border-radius: 0.2rem;
        border: transparent;
        padding-left: 1rem;
        font-size: 1.1rem;
    }
}

.footer-row-2-right-list-5 input::placeholder {
    color: var(--color-gray);
    padding-left: 1rem;
    font-size: 1rem;

}

.footer-row-2-right-list-5 input:focus {
    outline-width: 0;
}

.footer-row-2-right-list-5 button {
    width: 10rem;
    height: 2.7rem;
    border-radius: 0.3rem;
    background-color: var(--color-footer-bg);
    border: 1.5px solid #000000;
    transition: all 0.2s ease-in-out;
}

.footer-row-2-right-list-5 button a {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

.footer-row-2-right-list-5 button:hover {
    background-color: #000000;
}

.footer-row-2-right-list-5 button:hover a {
    color: #fff;
}

.footer-row-3 {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 0 8%;
    background-color: var(--color-secondary);
    justify-content: space-between;
}

.footer-left-div p {
    color: #fff;
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-right-div {
    display: flex;
    gap: 2rem;

    p {
        color: #fff;
        font-family: 'Roboto';
        font-size: 0.9rem;
        font-weight: 400;
    }
}


@media (width<1160px) {
    .footer-row-2-main-container {
        flex-direction: column;
    }

    .footer__right__common {
        padding: 2.5rem 0 2rem 14%;
    }

    .footer-row-1 {
        gap: 0.5rem;
    }

    .footer-row-1-left h3 {
        font-size: 1.3rem;
    }
}

@media (width <850px) {
    .footer-main-container {
        height: auto;
    }

    .footer-logo-div {
        width: 11rem;
    }

    .footer-row-1 {
        flex-direction: column;
        gap: 0.3rem;
        align-items: normal;
        padding-top: 0.4rem;
        padding-bottom: 1rem;
    }

    .footer-row-2-left {
        padding-top: 2rem;
    }

    .footer-row-1-left h3 {
        font-size: 1.1rem;
    }

    .footer-row-1-right input {
        padding-left: 0;
    }

    .footer-row-1-right input::placeholder {
        font-size: 1rem;
    }

    .footer-row-2-right {
        display: flex;
        flex-direction: column;
    }

    .footer__right__common {
        padding: 2.5rem 8% 2rem 8%;
    }

    #map {
        padding-right: 8%;
    }

    #map iframe {
        width: 100%;
    }

    .footer-row-2-right-list-5 input {
        width: 100%;
    }

    .footer-row-3 {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 1rem;
        height: auto;
    }

    .footer-left-div {
        order: 2;
    }

    .footer-right-div {
        order: 1;
    }
}