* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color-primary: #018bdb;
    --color-secondary: #231F20;
    --color-header-top: #252C46;
    --color-tertiary: #EDEDED;
    --get-ticket-color: #fbe32d;
    --color-gray: #767676;
    --color-learnmore-btn: #37446B;

}

/*imp! COMMON CSS */

html {
    scroll-behavior: smooth;
}

.common-div {
    display: flex;
    flex-direction: column;
    padding: 4.5rem 6rem;
    justify-content: center;
}

body {
    min-height: 100dvh;
}

p,
a {
    font-family: 'Roboto';
}

/*imp! HEADER */


header {
    height: 5rem;
    width: 100%;
    background-color: white;
    box-shadow: 0rem 0.25rem 0.938rem #00000010;
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    width: 100%;
    padding: 0.5rem 9%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header-top);
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.1rem;
}

.header-login-main {
    display: flex;
    gap: 1.5rem;
}

.header-login-main a {
    text-decoration: none;
    color: #fff;
}

.header-member {
    display: flex;
    gap: 1rem;
}

.header-view-cart {
    display: flex;
    gap: 1rem;
}


.desktop-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0%;
}

.logo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.5rem;
    background-color: var(--color-primary);
    padding: 1.5rem 9%;

}

.logo {
    width: 15.5rem;
}

.logo img {
    width: 100%;
}

/* 
#search {
    display: none;
    font-size: 1.2rem;
    color: #fff;
    padding-right: 3rem;
} */

.logo-div-right {
    display: flex;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.15rem;
    gap: 1rem;
}

.get-ticket-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--get-ticket-color);
    padding: 0.7rem 1.2rem;
    color: #000000;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #000000;
        color: #fff;
    }
}

.get-ticket-div i {
    rotate: -45deg;
    font-size: 1.5rem;

}

.join-today-div {

    background-color: #fff;
    padding: 0.7rem 2.2rem;
    color: #000000;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #000000;
        color: #fff;
    }
}

.nav-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #000000;
    padding: 0rem 9%;

}

.nav-links {
    display: flex;
    list-style: none;
    background-color: #fff;
    z-index: 80;
    gap: 2rem;
    height: 3rem;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.25rem;
    font-family: 'Roboto';
    font-weight: 500;
    color: #000;
    /* padding: 0.9rem 3rem; */
}

.nav-links li:nth-child(1) {
    text-decoration: underline;
}

.nav-links li {
    display: flex;
    transition: all 0.5s ease-in-out;
    align-items: center;
    margin: auto;
}

.nav-links li:hover {
    text-decoration: underline;
}


.c-open-menu,
.c-close-menu {
    position: absolute;
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.c-open-menu {
    color: #fff;
    top: 75%;
    right: 9%;
    transform: translateY(-50);
}

.c-close-menu {
    top: 2rem;
    right: 2rem;
}

.nav-icons i {
    padding-left: 1.7rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.search-box {
    display: flex;
    height: 2rem;
    width: 16.3rem;
    cursor: pointer;
    background-color: #fff;
    align-items: center;
    transition: all 0.2s ease-in;
    padding-left: 0.5rem;
    border-radius: 0.3rem;
    border: 1.5px solid rgb(192, 192, 192);
    padding-left: 1rem;

}

.search-box:hover input {
    width: 15em;
}

.search-box a i {
    padding-left: 0;
    color: #000000;
}

.search-box input {
    width: 0;
    outline: none;
    border: transparent;
    transition: all 0.2s ease-in;
    background: transparent;
    font-family: 'Roboto';
    font-size: 1rem;
}

.checkbox {
    display: none;
}

@media (width <850px) {

    .nav-links a {
        font-family: 'Roboto';
        font-weight: 500;
        color: #fff;

    }



    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100dvh;
        padding-bottom: 15rem;
        position: fixed;
        top: 0%;
        right: -100%;
        z-index: 100;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .nav-links li .nav-item {
        padding: 1rem 2rem;
        color: #000000;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }


    .c-open-menu,
    .c-close-menu {
        display: flex;
    }

    .c-close-menu i {
        color: #858383;
    }

    #check:checked~.nav-div .nav-links {
        right: 0%;
    }

    .jacket-categories-sub ul {
        display: flex;
        flex-direction: column;
    }

    .jacket-categories-sub ul li a {
        display: block;
        width: 100%;
        padding: 0.3rem 0.7rem;

    }


}

.nav-icons {
    display: flex;
    align-items: center;
    height: 3rem;
}

@media (width<850px) {

    .header-top {
        font-size: 1rem;
    }

    .header-login-main {
        gap: 2.1rem;
    }

    .header-member span {
        display: none;
    }

    .header-view-cart span {
        display: none;
    }

    .logo-div {
        height: 4.5rem;
    }

    .logo {
        width: 9rem;
    }

    /* #search {
        display: inline-block;
    } */

    .logo-div-right {
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: center;
        background-color: var(--color-header-top);
        width: 100%;
    }

    .logo-div-right {
        justify-content: center;
    }
}

/*imp! SECTION-HERO */

.hero-img {
    width: 100%;
    height: 100%;
    padding-top: 12%;
    position: relative;
}

.hero-img video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text-div {
    position: absolute;
    inset: 55% 10% auto 10%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 2;
    color: white;
    font-size: 2rem;

    span {
        font-family: 'Roboto';
    }

    h1 {
        font-size: 1.7rem;
        font-size: clamp(1.7rem, 1.24rem + 2.3vw, 4rem);
        font-family: 'Italiana';
        font-weight: 600;
        padding-bottom: 2rem;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-family: 'Roboto';
        font-size: 1.5rem;
        padding: 0.7rem 2.8rem;
        border-radius: 0.4rem;
        border: 2px solid #ffff;

    }

    a:hover {
        background-color: #fff;
        color: #767676;
    }
}

@media (width<850px) {

    .hero-text-div a {
        font-size: 1.1rem;
        padding: 0.7rem 8%;
        border-radius: 0.2rem;
    }

    .hero-img video {
        height: 35rem;
    }

    .hero-content span {
        font-size: 1.5rem;
    }
}

@media (width<450px) {
    .logo-div-right {
        font-size: 1rem;
    }
}

@media (width<600px) {
    .hero-text-div {
        inset: 63% 10% auto 10%;
    }
}

/*imp! SECTION-1 */

.section-1-home {
    padding: 1.5rem 9%;
    padding-top: 5rem;
}

.section-1-row-1 {
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 1.4rem;
        font-size: clamp(1.4rem, 1.18rem + 1.1vw, 2.5rem);
        border-bottom: 5px solid var(--color-primary);
    }

    span {
        font-size: 1.3rem;
        font-family: 'Roboto';
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

    }

    span:hover {
        text-decoration: underline;
    }

}

.section-1-component-1 {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1.7rem;
    width: 120%;
    height: 27rem;
    padding-right: 20%;
    overflow-x: scroll;
    cursor: pointer;
}

.section-1-row-2 {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    min-width: 26rem;
    height: auto;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        display: flex;
        color: #fff;
        padding: 0.2rem 1rem;
        transition: all 3s ease-in-out;
        z-index: 2;
    }

    img:hover+h4 {
        justify-content: center;
    }

    img {
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }

    img:hover {
        scale: 106%;
    }

    .Professor {
        background-color: var(--color-primary);

    }

    .night {
        background-color: #CC0025
    }

    .Energetical {
        background-color: #008700
    }

    .science {
        background-color: #7600BA
    }

    .model {
        background-color: #D08B02
    }
}

.section-1-row-2-content-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.4rem;

    p {
        font-size: 1rem;
        color: var(--color-gray);
    }
}

.section-1-row-2-content-left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-1-row-2-content-right-div a {
    background-color: var(--color-learnmore-btn);
    font-size: 1.1rem;
    color: #fff;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--color-learnmore-btn);

}

.section-1-row-2-content-right-div a:hover {
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
}

@media (width<600px) {

    .section-1-home {
        padding-top: 2rem;
    }

    .section-1-component-1 {
        gap: 1.1rem;
        height: 21rem;
    }

    .section-1-row-2 {
        padding-top: 2rem;
        min-width: 20rem;
    }

    .section-1-row-2 h4 {
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }

    .section-1-row-2-content-div p {
        font-size: 0.9rem;
    }

    .section-1-row-2-content-right-div a {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
    }

}

/*imp! SECTION-2 */

.section-2-home {
    padding: 0rem 9%;
    padding-top: 4rem;
}

.section-2-component-1 {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;

    h3 {
        font-display: 'Times New Roman';
        font-size: 1.4rem;
        font-size: clamp(1.4rem, 1.18rem + 1.1vw, 2.5rem);
        padding-bottom: 1.5rem;

    }

    p {
        color: var(--color-gray);
        text-align: justify;
        font-weight: 400;
    }

    span {
        margin-top: 30%;
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;

    }

    span:hover {
        text-decoration: underline;
    }

    .section-2-left {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        padding: 3rem;
        background-color: var(--color-tertiary);
        height: 25rem;
    }

    .section-2-right {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        height: 25rem;


        img {
            width: 100%;
            height: 25rem;
            object-fit: cover;
        }
    }
}

@media (width<850px) {
    .section-2-component-1 {
        flex-direction: column;
    }

    .section-2-left {
        order: 2;
    }

    .section-2-right {
        order: 1;
    }

    .section-2-component-1 span {
        margin-top: 20%;
    }
}

@media (width<600px) {
    .section-2-home {
        padding: 1.5rem 0;
    }

    .section-2-component-1>.section-2-left {
        padding: 2rem;
    }
}


/*imp! SECTION-3 */

.section-3-home {
    padding: 1.5rem 9%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
}

.section-3-component-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;

    h2 {
        font-display: 'TimesNewRoman';
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
        padding-top: 1rem;
        padding-bottom: 0.4rem;
    }

    p {
        font-size: 1.2rem;
        font-size: 400;
    }
}

.section-3-component-2 {
    display: flex;
    flex: 1 1 100%;
    gap: 3rem;
}

.section-3-component-2-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    overflow: hidden;
    height: 27rem;
}

.section-3-component-2-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

.section-3-component-img-div {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.section-3-component-2 img {
    width: 100%;
    height: 100%;
}

.section-3-component-img-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/images/home/section-3/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.section-3-img-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/images/home/section-3/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.section-3-img-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/images/home/section-3/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.section-3-img-4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/images/home/section-3/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


.section-3-component-img-div:hover {
    scale: 105%;
}

.section-3-component-img-div h3 {
    font-family: 'Roboto';
    font-size: 2.2rem;
    font-weight: 500;
    color: #fff;

}

.section-3-component-2-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--color-primary);
    width: 100%;
    height: 0%;
    opacity: 0;
    max-height: 14rem;
    overflow: hidden;
    padding: 0 1.3rem 0rem 1.3rem;
    transition: all 0.3s ease-in-out;



    h3 {
        font-family: 'Roboto';
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
    }

    span {
        font-family: 'Roboto';
        font-size: 1.2rem;
        color: var(--get-ticket-color);
    }

    p {
        font-size: 1.1rem;
        color: #fff;
    }
}

.section-3-component-img-div:hover>.section-3-component-2-content {
    padding: 1.3rem 1.3rem 1.3rem 2rem;
    height: 60%;
    opacity: 1;
}

@media (width<1170px) {

    .section-3-component-2 {
        flex-direction: column;
    }

    .section-3-component-img-div {
        height: 30rem;
    }

    .section-3-component-2 {
        padding-bottom: 3rem;
    }
}

@media (width<600px) {
    .section-3-component-img-div {
        scale: 105%;
        background-size: contain;
    }

    .section-3-component-2-content {
        height: 100%;
        opacity: 1;
        padding: 1.3rem 1.3rem 1.3rem 2rem;
    }

}

.logo-div-right {
    display: none;
}



/*imp! FOOTER */

.l-footer-main-1 {
    width: 100%;
    height: auto;
    padding-top: 4.25rem;
    padding-bottom: 1.5rem;
    background-color: #03346E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.l-footer-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;

}

.l-footer-col-1 {
    width: 9rem;
    height: auto;
    margin-right: 3rem;
}

.l-footer-col-1 img {
    width: 100%;
    opacity: 70%;
    cursor: pointer;
}

.l-footer-col-2 {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    margin-right: 2rem;
}

.l-footer-sub-col-common {
    display: flex;
    flex-direction: column;
}

.l-footer-sub-col-common h6 {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding-bottom: 1.5rem;
    cursor: pointer;
    display: inline;
}

.l-footer-help-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.l-footer-help-list a {
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
}

.l-footer-col-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.l-footer-col-3 h6 {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding-bottom: 1rem;
}

.l-footer-col-3 i {
    color: white;
    font-size: 1.1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.l-footer-col-4 {
    display: flex;
    flex-direction: column;
    width: 8.7rem;
    gap: 0.4rem;
}

.l-footer-col-4 img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.l-footer-main-2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.4rem;
}

.l-footer-row-2-item-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.l-footer-row-2-item-1 {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.l-footer-row-2-line {
    display: flex;
    flex-basis: 82%;
    background-color: #fff;
    height: 0.2px;

}

.l-footer-row-2-text {
    display: flex;
    flex-basis: 18%;
    justify-content: space-between;
}

.l-footer-row-2-text a {
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
}

.l-footer-row-2-item-2 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
    color: white;
}



@media (600px<width<1220px) {

    .l-footer-row-1 {
        flex-direction: column;
        width: 100%;
    }

    .l-footer-col-2 {
        margin-right: 0rem;
        justify-content: space-between;
        padding-top: 3rem;
    }

    .l-footer-col-3 {
        padding-top: 3rem;
    }

    .l-footer-col-4 {
        padding-top: 3rem;
    }
}

.l-footer-main-1 {
    display: none;
}