* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color-primary: #252C46;
    --color-secondary: #0068a3;
    --color-tertiary: #eaeaea;
    --get-ticket-color: #fbdd00;
    --color-gray: #656565;
    --color-learnmore-btn: #37446B;
    --color-footer-border: #e5e5e5;
    --color-footer-bg: #f4f4f4;
    --color-title-underline: #0099FF
}

/*imp! COMMON CSS */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
}

p,
a {
    font-family: 'Roboto';
}

.common__div {
    background-color: #fff;
}

/*imp! HEADER */


header {
    height: 5rem;
    width: 100%;
    background-color: white;
    box-shadow: 0rem 0.25rem 0.938rem #00000010;
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.header-top {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    padding: 0.5rem 8%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.1rem;
    gap: 2rem;

}

.opening-hours-div {
    max-width: 62%;
    mask: linear-gradient(90deg, transparent, #fff 15%, #fff 85%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, #fff 15%, #fff 85%, transparent);

}

.opening-hours-div-inner {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    gap: 3rem;
    user-select: none;
    animation: scroll 20s linear infinite;

}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 1.5rem));
    }
}

.opening-hours {
    flex-shrink: 0;
    display: flex;
    align-items: center;


    p {
        width: 100%;
        font-size: 1rem;
    }
}

.header-login-main {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 38%;
    gap: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.header-login-main a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

.header-member {
    display: flex;
    gap: 1rem;
}

.header-member:hover>span {
    color: var(--get-ticket-color);
}

.header-member:hover>i {
    color: var(--get-ticket-color);
}

.header-view-cart {
    display: flex;
    gap: 1rem;
}

.header-view-cart:hover>span {
    color: var(--get-ticket-color);
}

.header-view-cart:hover>i {
    color: var(--get-ticket-color);
}

.desktop-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0%;
}

.logo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.5rem;
    padding: 1.5rem 8%;
    background-image: linear-gradient(90deg, #074191, #006473, #0290e2, #006473, #074191);
    background-size: 200% auto;
    animation: topAnimation 4s linear infinite;
}

@keyframes topAnimation {
    to {
        background-position: 200%;
    }
}

.logo {
    width: 15.5rem;
}

.logo img {
    width: 100%;
}

.logo-div-right {
    display: flex;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.15rem;
    gap: 1rem;
}

.get-ticket-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--get-ticket-color);
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #000000;
        color: #fff;
    }
}

.get-ticket-div i {
    rotate: -45deg;
    font-size: 1.5rem;

}

.join-today-div {
    text-decoration: none;
    background-color: #fff;
    padding: 0.7rem 2.2rem;
    color: #000000;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #000000;
        color: #fff;
    }
}

.nav-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0rem 0.50rem 0.950rem #00000010;
    padding: 0rem 8%;

}

.nav-links {
    display: flex;
    list-style: none;
    z-index: 80;
    gap: 2rem;
    height: 3rem;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;

}

.nav-links li:nth-child(1) {
    text-decoration: underline;
}

.nav-links li {
    display: flex;
    transition: all 0.5s ease-in-out;
    align-items: center;
}

.nav-links li:hover {
    text-decoration: underline;
}

.c-open-menu,
.c-close-menu {
    position: absolute;
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.c-open-menu {
    color: #fff;
    top: 75%;
    right: 8%;
    transform: translateY(-50);
}

.c-close-menu {
    top: 2rem;
    right: 2rem;
}

.nav-icons i {
    padding-left: 1.7rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.search-box {
    display: flex;
    height: 2rem;
    width: 9rem;
    cursor: pointer;
    background-color: #ffffffbb;
    align-items: center;
    transition: all 0.2s ease-in;
    padding-left: 0.5rem;
    border-radius: 0.3rem;
    border: 2px solid rgb(192, 192, 192);


}

.search-box:hover {
    background-color: var(--color-primary);
    color: #fff;
    width: 13.5rem;
}

.search-box:hover input {
    width: 15em;
    color: #fff;
}

.search-box:hover input::placeholder {
    color: #fff;
}

.search-box:hover .fa-solid {
    color: #fff;
}

.search-box a i {
    padding-left: 0;
    color: #000000;
}

.search-box input {
    width: 0;
    outline: none;
    border: transparent;
    transition: all 0.2s ease-in;
    background: transparent;
    font-family: 'Roboto';
    font-size: 1rem;
}

.checkbox {
    display: none;
}

@media (width <850px) {

    .nav-links a {
        font-weight: 500;

    }



    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100dvh;
        position: fixed;
        top: 0%;
        right: -100%;
        z-index: 100;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #ebebeb;
        ;

    }

    .nav-links li .nav-item {
        padding: 1rem 2rem;
        color: #000000;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }


    .c-open-menu,
    .c-close-menu {
        display: flex;
    }

    .c-close-menu i {
        color: #000000;
    }

    #check:checked~.nav-div .nav-links {
        right: 0%;
    }

}

.nav-icons {
    display: flex;
    align-items: center;
    height: 3rem;
}

@media (width<850px) {

    .header-top {
        font-size: 1rem;
    }

    .header-login-main {
        gap: 2.1rem;
    }

    .header-member span {
        display: none;
    }

    .header-view-cart span {
        display: none;
    }

    .logo-div {
        height: 4.5rem;
    }

    .logo {
        width: 9rem;
    }

    .logo-div-right {
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: center;
        background-color: var(--color-primary);
        width: 100%;
    }

    .logo-div-right {
        justify-content: center;
    }
}

@media (width<450px) {
    .logo-div-right {
        font-size: 1rem;
        flex: 1 1 100%;
        gap: 0;
    }

    .get-ticket-div {
        flex: 1 1 50%;
        justify-content: center;
    }

    .join-today-div {
        flex: 1 1 50%;
        background-color: var(--color-primary);
        color: #fff;
    }

}

/*imp! SECTION-HERO */

.hero-img {
    width: 100%;
    height: 55rem;
    position: sticky;
    top: 0;
    z-index: -1;

}

.hero-video-overlay {
    width: 100%;
    background-color: #000000;
    z-index: 3;
    height: 100%;
}

.hero-img img {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 40rem;
}

.hero-img-mobile {
    position: relative;
}

.hero-img video {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
}

.hero-text-div {
    position: absolute;
    inset: 60% 10% auto 10%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 2;
    color: white;
    font-size: 2rem;

    span {
        font-family: 'Roboto';
        color: #fff;
        text-shadow: 3px 3px var(--color-primary);
    }

    h1 {
        font-size: clamp(1.7rem, 1.24rem + 2.3vw, 4rem);
        font-family: 'Italiana';
        font-weight: 600;
        padding-bottom: 2rem;
        color: #fff;
        text-shadow: 3px 3px var(--color-primary);
    }

    a {
        text-decoration: none;
        color: #000000;
        background-color: #fff;
        font-size: 1.4rem;
        padding: 0.7rem 2.5rem;
        border-radius: 0.3rem;
        font-weight: 500;

    }

    a:hover {
        background-color: var(--color-secondary);
        color: #fff;
    }
}

@media (width<1260px) {
    .hero-text-div a {
        font-size: 1.3rem;
    }
}

@media (width<850px) {

    .hero-text-div a {
        font-size: 1.1rem;
        padding: 0.7rem 8%;
        border-radius: 0.2rem;
    }

    .hero-content span {
        font-size: 1.5rem;
    }

}


@media (width<600px) {

    .hero-img {
        height: fit-content;
    }

    .hero-img img {
        display: flex;
    }

    .hero-video-overlay {
        display: none;
    }

    .hero-text-div {
        inset: 25rem 10% auto 10%;
    }

    .hero-img video {
        display: none;
    }

    .hero-text-div a {
        font-size: 1.1rem;
    }
}

/*imp! SECTION-1 */

.section-1-home {
    padding: 0.5rem 8%;
    padding-top: 4rem;
}

.section-1-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3rem;

    h2 {
        font-family: "Playfair Display", serif;
        font-size: clamp(1.4rem, 1.18rem + 1.1vw, 2.5rem);
        position: relative;
    }

    a {
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 500;
        color: #000000;
        transition: all 0.2s ease-in-out;

    }

    a:hover {
        text-decoration: underline;
    }

}

.section-1-row-1 h2::after {
    content: "";
    width: 100%;
    height: 0.25rem;
    background-color: var(--color-title-underline);
    position: absolute;
    bottom: -2px;
    left: 0;
}

.section-1-component-1 {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1.7rem;
    width: 100%;
    height: 27rem;
    overflow-x: scroll;
    cursor: pointer;
    scroll-snap-type: x mandatory;
}

.section-1-component-1::-webkit-scrollbar {
    background: var(--color-tertiary);
    height: 0.6rem;
    border-radius: 0.4rem;
}

.section-1-component-1::-webkit-scrollbar-thumb {
    background: #a6a5a5;
    border-radius: 0.4rem;
}

.section-1-row-2 {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    height: auto;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    h3 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        display: flex;
        color: #fff;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease-in-out;
        z-index: 2;
    }

    img {
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }

    img:hover {
        scale: 106%;
    }

    .Professor {
        background-color: var(--color-secondary);

    }

    .night {
        background-color: #CC0025
    }

    .Energetical {
        background-color: #008700
    }

    .science {
        background-color: #7600BA
    }

    .model {
        background-color: #835700
    }
}

.section-1-row-2-content-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.4rem;

    p {
        font-size: 1rem;
        color: var(--color-gray);
    }
}

.section-1-row-2-img-div {
    width: 100%;
    overflow: hidden;
}

.section-1-row-2-content-left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-1-row-2-content-right-div a {
    background-color: var(--color-learnmore-btn);
    font-size: 1.1rem;
    color: #fff;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--color-learnmore-btn);

}

.section-1-row-2-content-right-div a:hover {
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
}

@media (width<600px) {

    .section-1-home {
        padding-top: 2rem;
    }

    .section-1-row-1 {
        padding-bottom: 0;
    }

    .section-1-row-1 a {
        font-size: 1.1rem;
    }

    .section-1-component-1 {
        gap: 1.1rem;
        height: 21rem;
    }

    .section-1-row-2 {
        padding-top: 2rem;
        min-width: 16rem;
    }

    .section-1-row-2 h3 {
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }

    .section-1-row-2-content-div {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8rem;

        p {
            font-size: 0.9rem;
        }
    }

    .section-1-row-2-content-right-div a {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
    }

}

/*imp! SECTION-2 */

.section-2-home {
    padding: 0rem 8%;
    padding-top: 5rem;
}

.section-2-component-1 {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;

    h3 {
        font-family: "Playfair Display", serif;
        font-size: clamp(1.4rem, 1.18rem + 1.1vw, 2.5rem);
        padding-bottom: 1.5rem;

    }

    p {
        color: #000000;
        font-weight: 400;
        font-size: 1.1rem;
    }

    a {
        margin-top: 22%;
        text-decoration: none;
        color: #000000;
        font-size: 1.1rem;
        font-weight: 500;

    }

    a:hover {
        text-decoration: underline;
    }

    .section-2-left {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        padding: 3rem;
        background-color: var(--color-tertiary);
        height: 25rem;
    }

    .section-2-right {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        height: 25rem;


        img {
            display: block;
            width: 100%;
            height: 25rem;
            object-fit: cover;
        }
    }
}

@media (width>1536px) {
    .section-2-component-1 a {
        margin-top: 8rem;
    }
}

@media (width<850px) {
    .section-2-component-1 {
        flex-direction: column;
    }

    .section-2-left {
        order: 2;
    }

    .section-2-right {
        order: 1;
    }

    .section-2-component-1 a {
        margin-top: 20%;
    }
}

@media (width<600px) {
    .section-2-home {
        padding: 2.33rem 0 0;
    }

    .section-2-component-1 p {
        font-size: 1rem;
    }

    .section-2-component-1>.section-2-left {
        padding: 2rem;
    }
}


/*imp! SECTION-3 */

.section-3-home {
    padding: 1.5rem 8%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
}

.section-3-component-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;

    h2 {
        font-family: "Playfair Display", serif;
        font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
        padding-top: 1rem;
        padding-bottom: 0.4rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.section-3-component-2 {
    display: flex;
    flex: 1 1 100%;
    gap: 3rem;
}

.section-3-component-2-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    overflow: hidden;
    height: 27rem;
    text-decoration: none;
}

.section-3-component-2-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

.section-3-component-img-div {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.section-3-component-2 img {
    width: 100%;
    height: 100%;
}

.section-3-component-img-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/images/home/section-3/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.section-3-img-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/images/home/section-3/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.section-3-img-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/images/home/section-3/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.section-3-img-4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/images/home/section-3/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


.section-3-component-img-div:hover {
    scale: 105%;
}

.section-3-component-2-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: transparent;
    width: 100%;
    height: 13%;
    max-height: 14rem;
    overflow: hidden;
    padding: 0 1.3rem 0rem 1.3rem;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-secondary);



    h3 {
        font-family: 'Roboto';
        font-size: 1.6rem;
        font-weight: 400;
        color: #fff;
    }

    span {
        font-family: 'Roboto';
        font-size: 1.2rem;
        color: var(--get-ticket-color);
    }

    p {
        font-size: 1.1rem;
        color: #fff;
    }
}

.section-3-component-img-div:hover>.section-3-component-2-content {
    padding: 1.3rem 1.3rem 1.3rem 2rem;
    height: 60%;
    opacity: 1;
    background-color: var(--color-secondary);
}

@media (width<1170px) {

    .section-3-component-2 {
        flex-direction: column;
        gap: 2rem;
    }

    .section-3-component-img-div {
        height: 30rem;
    }

    .section-3-component-2 {
        padding-bottom: 2rem;
    }

    .section-3-component-2-content {
        height: 10%;
    }
}

@media (width<600px) {
    .section-3-home {
        padding-top: 1rem;
    }

    .section-3-component-1 {
        padding-bottom: 2rem;
    }

    .section-3-component-1 h2 {
        position: relative;
        width: fit-content;

    }

    .section-3-component-1 h2::after {
        content: "";
        width: 100%;
        height: 0.25rem;
        background-color: var(--color-title-underline);
        position: absolute;
        bottom: -2px;
        left: 0;

    }

    .section-3-component-1 p {
        font-size: 1rem;
        padding-top: 0.5rem;
    }

    .section-3-component-img-div {
        scale: 105%;
        background-size: contain;
        height: 23rem;
    }

    .section-3-component-2-content {
        max-height: 13rem;
        padding: 1.3rem 1.3rem 1.3rem 2rem;
        height: 60%;
        opacity: 1;
        background-color: var(--color-primary);
    }

    .section-3-component-2-content h3 {
        font-size: 1.1rem;
    }

    .section-3-component-2-content p {
        font-size: 0.9rem;
    }

    .section-3-component-2-content span {
        font-size: 1rem;
    }

    .section-3-component-2 {
        gap: 1rem;
        padding-bottom: 1rem;
    }

}

/*imp! SECTION-4 */

.section-4-home {
    padding: 2rem 8% 0;
}

.section-4-component-1 {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;

    h3 {
        font-family: "Playfair Display", serif;
        font-size: clamp(1.4rem, 1.18rem + 1.1vw, 2.5rem);
        font-weight: 500;
        padding-bottom: 1.5rem;
        color: #fff;

    }

    p {
        color: #fff;
        font-weight: 400;
        font-size: 1.1rem;
    }

    a {
        margin-top: 30%;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        color: #fff;

    }

    a:hover {
        text-decoration: underline;
    }

    .section-4-right {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        padding: 3rem;
        background-color: var(--color-primary);
        height: 25rem;
    }

    .section-4-left {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        height: 25rem;


        img {
            display: block;
            width: 100%;
            height: 25rem;
            object-fit: cover;
        }
    }
}

@media (width>1536px) {
    .section-4-component-1 a {
        margin-top: 10rem;
    }
}

@media (width<850px) {

    .section-4-home {
        padding: 1rem 8% 0;
    }

    .section-4-component-1 {
        flex-direction: column;
    }

    .section-4-right {
        order: 2;
    }

    .section-4-left {
        order: 1;
    }

    .section-4-component-1 a {
        margin-top: 20%;
    }
}

@media (width<600px) {
    .section-4-home {
        padding: 1rem 0;
    }

    .section-4-component-1 p {
        font-size: 1rem;
    }

    .section-4-component-1>.section-4-right {
        padding: 2rem;
    }
}

/*imp! SECTION-5 */

.section-5-home {
    padding: 6rem 8% 5rem;
}

.section-5-component {
    display: flex;
    flex: 1 1 100%;
    gap: 2rem;
}

.section-5-component-left {
    display: flex;
    flex: 1 1 60%;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.section-5-component-right {
    display: flex;
    flex-direction: column;
}

.section-5-component-right {
    display: flex;
    flex: 1 1 40%;
    gap: 1.5rem;
    justify-content: space-between;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.section-5-component-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 10%;
    background-color: var(--color-primary);
    flex-grow: 1;

    flex-shrink: 1;

    p {
        font-size: 1.1rem;
        text-align: center;
        color: #fff;
        line-height: 1.5rem;
    }

    span {
        font-family: 'Roboto';
        font-size: 1.1rem;
        text-align: center;
        color: #000000;
        padding: 1rem 3.5rem;
        background-color: #fff;
        border-radius: 0.3rem;
        transition: all 0.2s ease-in-out;
    }

    span:hover {
        background-color: var(--color-primary);
        color: #fff;
    }
}

@media (width<700px) {
    .section-5-component-left {
        display: none;
    }

    .section-5-component-right {
        gap: 0;
    }
}

@media (width<850px) {

    .section-5-home {
        padding: 5rem 8%;
    }
}

@media (width<600px) {

    .section-5-home {
        padding: 2rem 8%;
    }

    .section-5-component-content-div p {
        font-size: 1rem;
    }

    .section-5-component-content-div span {
        font-size: 1rem;
        padding: 0.7rem 1.5rem;
        border-radius: 0.2rem;
    }
}

/*imp! SECTION-6 */

.section-6-home {
    padding: 0 8% 3rem;
}

.section-6-home h2 {
    font-family: "Playfair Display", serif;
    font-size: clamp(1.4rem, 1.18rem + 1.1vw, 2.5rem);
    position: relative;
    width: fit-content;

}

.section-6-home h2::after {
    content: "";
    width: 100%;
    height: 0.25rem;
    background-color: var(--color-title-underline);
    position: absolute;
    bottom: -2px;
    left: 0;
}

.section-6-component {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    padding-top: 2rem;
    min-width: 15rem;

}

.section-6-main-component {
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.section-6-component-img-div-1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/images/home/section-6/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 18rem;
    text-decoration: none;
}

.section-6-component-img-div-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/images/home/section-6/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 18rem;
    text-decoration: none;
}

.section-6-component-img-div-3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/images/home/section-6/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 18rem;
    text-decoration: none;
}

.section-6-component-img-div-4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/images/home/section-6/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 18rem;
    text-decoration: none;
}

.section-6-component-img-div-5 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/images/home/section-6/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 18rem;
    text-decoration: none;
}

.section-6-component-img-div-6 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/images/home/section-6/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 18rem;
    text-decoration: none;
}

.section__6__common h3 {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.3rem;
}

.section-6-component-img-div-6 h3 {
    height: 3.7rem;
}

/*imp! FOOTER */


.footer-main-container {
    height: 5rem;
    width: 100%;
    background-color: #616881;
}

.footer-row-1 {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    padding-top: 1.3rem;


}

.footer-row-1-left {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 40%;

    h3 {
        font-family: 'Roboto';
        font-size: 1.5rem;
        color: #fff;
        font-weight: 400;
    }
}

.footer-row-1-right {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 60%;


    input {
        background-color: white;
        width: 100%;
        height: 2.3rem;
        border-radius: 0.2rem;
        border: transparent;
        padding-left: 1rem;
        font-size: 1.1rem;
    }
}

.footer-row-1-right input::placeholder {
    color: var(--color-gray);
    padding-left: 1rem;
    font-size: 1rem;
}

.footer-row-1-right input:focus {
    outline-width: 0;
}

.footer-row-2-main-container {
    height: auto;
    display: flex;
    gap: 3rem;
}

.footer-row-2-left {
    padding-left: 8%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        color: #000000;
    }

    span {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }
}

.footer-logo-div {
    width: 13rem;
    height: auto;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.footer-row-2-right {
    width: 100%;
    background-color: var(--color-footer-bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1.5fr 0.8fr;
}

.footer__row__2__right_common {
    display: flex;
    flex-direction: column;
}

.footer-row-2-right-list-5 {
    grid-column: span 2;
}

.footer-row-2-right-list-1 {
    display: grid;
    padding: 4rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        color: #000000;
    }


}

.footer__row__2__right_common a:hover {
    color: var(--color-primary);
}

.footer-row-2-right-list-1 .footer-tel {
    padding-top: 1rem;
}

.footer-row-2-right-list-2 {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1.2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        color: #000000;
    }
}

.footer-row-2-right-list-3 {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1.2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        color: #000000;
    }

}

.footer-row-2-right-list-4 {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 0.7rem;


    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    i {
        font-size: 1.5rem;
        transition: all 0.2s ease-in-out;
    }

    .fa-square-facebook:hover {
        scale: 110%;
        color: #1877F2;
    }

    .fa-instagram:hover {
        scale: 110%;
        color: #e4107a;
    }

    .fa-pinterest:hover {
        scale: 110%;
        color: #BD081C;
    }

    .fa-x-twitter:hover {
        scale: 110%;
        color: #000000;
    }

    .fa-youtube:hover {
        scale: 110%;
        color: #E62117;
    }



    .footer-social-media-icons {
        display: flex;
        gap: 0.7rem;

        a {
            color: var(--color-primary);
        }
    }
}

.footer-row-2-right-list-5 {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem 2rem 1rem;
    border: 1px solid var(--color-footer-border);
    gap: 1.2rem;

    h4 {
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }

    input {
        background-color: white;
        width: 80%;
        height: 2.7rem;
        border-radius: 0.2rem;
        border: transparent;
        padding-left: 1rem;
        font-size: 1.1rem;
    }
}

.footer-row-2-right-list-5 input::placeholder {
    color: var(--color-gray);
    padding-left: 1rem;
    font-size: 1rem;

}

.footer-row-2-right-list-5 input:focus {
    outline-width: 0;
}

.footer-row-2-right-list-5 button {
    width: 10rem;
    height: 2.7rem;
    border-radius: 0.3rem;
    background-color: var(--color-footer-bg);
    border: 1.5px solid #000000;
    transition: all 0.2s ease-in-out;
}

.footer-row-2-right-list-5 button a {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1rem;
    padding: 0.8rem 3rem;
    font-weight: 400;
    color: #000000;
}

.footer-row-2-right-list-5 button:hover {
    background-color: #000000;
}

.footer-row-2-right-list-5 button:hover a {
    color: #fff;
}

.footer-row-3 {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 0 8%;
    background-color: var(--color-primary);
    justify-content: space-between;
}

.footer-left-div p {
    color: #fff;
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-right-div {
    display: flex;
    gap: 2rem;

    p {
        color: #fff;
        font-size: 0.9rem;
        font-weight: 400;
    }
}


@media (width<1160px) {
    .footer-row-2-main-container {
        flex-direction: column;
    }

    .footer__right__common {
        padding: 2.5rem 0 2rem 14%;
    }

    .footer-row-1 {
        gap: 0.5rem;
    }

    .footer-row-1-left h3 {
        font-size: 1.3rem;
    }
}

@media (width <850px) {

    .footer-row-2-main-container {
        gap: 2rem;
    }

    .footer-main-container {
        height: auto;
    }

    .footer-logo-div {
        width: 11rem;
    }

    .footer-row-1 {
        flex-direction: column;
        gap: 0.3rem;
        align-items: normal;
        padding-top: 0.4rem;
        padding-bottom: 1rem;
    }

    .footer-row-2-left {
        padding-top: 2rem;
    }

    .footer-row-1-left h3 {
        font-size: 1.1rem;
    }

    .footer-row-1-right input {
        padding-left: 0;
    }

    .footer-row-1-right input::placeholder {
        font-size: 1rem;
    }

    .footer-row-2-right {
        display: flex;
        flex-direction: column;
    }

    .footer__right__common {
        padding: 2.5rem 8% 2rem 8%;
    }

    #map {
        padding-right: 8%;
    }

    #map iframe {
        width: 100%;
    }

    .footer-row-2-right-list-5 input {
        width: 100%;
    }

    .footer-row-3 {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 1rem;
        height: auto;
    }

    .footer-left-div {
        order: 2;
    }

    .footer-right-div {
        order: 1;
    }
}